<script defer src="/js/logout.js"></script>
<link rel="stylesheet" href="/css/styleMain.css">
{{!-- <h1> main </h1>

<button id="logout"> logout </button> --}}

<div class="fullscreen-bg">
  <div class="overlay">
    <h1>Простой пример<br>фонового видео на сайте</h1>
  </div>
  <video loop="" muted="" autoplay="" poster="../public/video/coct.mp4" class="fullscreen-bg__video">
    <source src="../public/video/coct.mp4" type="video/mp4">
    <source src="../public/video/coct.mp4" type="video/webm">
  </video>
</div>
