{{!-- <script defer src="/js/logout.js"></script> --}}

<link rel="stylesheet" href="/css/styleMain.css">
<h1>Welcome</h1>

<video src="/video/video.mp4" autoplay muted loop></video>

{{!-- <button id="logout"> logout </button> --}}

