

.cardBox{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin: 1em 15em 10em;
background-color: rgba(52,58,61,0.8);
border-radius: 10px;
}
.card{
  margin: 30px;
  background-color: rgba(253,255,255,0.3);

}

.list-group-item {
  background-color: rgba(253,255,255,0.04);
}

body{
  
  background:
    linear-gradient(
    rgba(246,247,249,0.5),
    rgba(246,247,249,0.5)),
    url(../img/john-fornander-RI3dQiRlj94-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
 
}

.bg-dark{
  opacity: 0.8;
}
.nav-tabs{
  border-bottom: 1px solid #343a40;
}

.nav-tabs .nav-link.active {
  color: whitesmoke;
  background-color: #343a40;
  border-color: #343a40 #343a40 #343a40;
}
a{
  color:wheat;
}
.card-img-top{
  width: 18em;
  height: 30em;
 margin:3px 5px 3px 7px;
  border-radius:13px;
  opacity: 0.9;
}

.card-title {
  margin-bottom:.75rem;
  text-align: center;
}


.about{
  margin:0 40px 4px ;
  color: #343a40;
} 

#serch{
  height:35px ;
  width:85em ;
  border: 1px solid white;
  border-radius: 8px;
  margin: 10px 15px 0;
}
