<script defer src="js/preview.js" ></script>

<form id="serchTitle">
  <input type="text" name="name" id="serch" placeholder="Введите название коктеля"> 
  <button type="submit">click</button>
</form>
