<script defer src="../js/login.js" ></script>

<h1>login</h1>
  <form action="/main" method="POST" id="loginForm">
<label > email:   </label>
<input type="text" name="email" id="">
<label > Password:</label>
<input type="text" name="password" id="">
<button type="submit"> Take your cocktail</button>
</form>

