<h1>register</h1>

<form action="/main" method="POST" id="registerForm">
<label > email:   </label>
<input type="text" name="email" id="">
<label > Password:</label>
<input type="text" name="password" id="">
<button type="submit"> Take your cocktail</button>
</form>
